
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);
$attribution-color: hsl(228, 45%, 44%);

body {
    color: $grayish-blue;
}

.header__main-title,
.col__title {
    color: $dark-blue;
}

.col {
    background-color: #fff;
    filter: drop-shadow(0px 15px 8px rgba($grayish-blue,.3));
}

.supervisor {
    border-top: 3px solid $cyan;
}

.teambuilder {
    border-top: 3px solid $red;
}

.karma {
    border-top: 3px solid $orange;
}

.calculator {
    border-top: 3px solid $blue;
}

.attribution {
    color: $attribution-color;

    &__link {
        color: $attribution-color;
    }
}